<!--<ol class="breadcrumb">-->
<!--<li><i class="fa fa-home fa-fw"></i> Overview</li>-->
<!--</ol>-->

<!--<div class="header">-->
<!--<div class="col-md-12">-->
<!--<h3 class="header-title">Dashboard</h3>-->
<!--<p class="header-info">Overview and latest statistics</p>-->
<!--</div>-->
<!--</div>-->

<div class="main-content">
 <div class="row">
  <div class="col-md-6">
   <div class="panel">
    <div class="panel-heading">
     <h3 class="panel-title">Balance {{balance | currency : ''}}</h3>
    </div>
    <div class="panel-body">
     <div class="col-md-4 col-sm-4 col-xs-6 text-center">
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
