<ol class="breadcrumb">
 <li><i class="fa fa-home fa-fw"></i>Home</a></li>
 <li><i class="fa fa-exchange fa-fw"></i> Transaction History</li>
</ol>

<div class="main-content">


 <div id="transaction_history">
  <input type="button" ng-click="rescan()" value="Rescan" class="btn btn-primary pull-right"/>
  <span id="trx_history"></span>
  <table width="100%">
   <tbody>
   <tr>
    <th>Date</th>
    <th>Type</th>
    <th>Address</th>
    <th>Amount</th>
   </tr>
   </tbody>
  </table>
 </div>

</div>

</div>
